.comate_review_wrapper {
    padding: 30px 35px;
    border-bottom: 1px solid #bbb;
}
.comate_review_wrapper:last-child {
    border-bottom: none;
}
.comate_review_wrapper .comate_product_info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 25px;
    
    /* 클래스 이름 중복-> 다른 css 무효화 */
    padding:0;
    margin-left: 0;
}
.text_info .product_name {
    margin: 0;
    font-weight: 500;
}
.text_info .product_option {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}
.product_img.comate {
    width: 90px;
    border-radius: 5px;
}
.review_header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}
.review_meta {
    color: #999;
    font-size: 14px;
}
.review_star {
    display: flex;
    gap: 3px;
}
.review_star img {
    width: 20px;
}
.review_tags {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
}
.review_tags span {
    background-color: #f5f5f5;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 13px;
    color: #444;
    flex-wrap: nowrap; 
    white-space: nowrap;
}
.review_content {
    margin: 30px 10px;
    white-space: pre-line;
}
.review_like_wrapper {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    gap: 3px;
}
.author_info {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #999;
    gap: 10px;
    margin-bottom: 10px;
}
.author_info img {
    border-radius: 50%;
    width: 30px;
}
a {
    text-decoration: none;
    color: black;
}
.review_images img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}


.review_content.clamped {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.review_content.expanded {
    display: block;
}
.review_content_wrapper {
    position: relative;
}
.more_btn {
    background: none;
    border: none;
    padding: 0 10px;
    font-size: 13px;
    color: #999;
    cursor: pointer;
}