.uc_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(15px, 2vw, 25px) 10px;
    /* padding: 25px 10px; */
    border-bottom: 1px solid #bbb;
    gap: clamp(10px, 2vw, 18px);
    /* gap: 18px; */
}
.uc_wrapper:last-child {
    border-bottom: none;
}
.uc_info_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1; 
    text-decoration: none;
    color: inherit;
}
.left {
    display: flex;
    align-items: center;
    gap: 25px;
}
.uc_info_wrapper .profile_img {
    /* width: 50px;
    height: 50px; */
    width: clamp(35px, 10vw, 50px);
    height: auto;
    margin-bottom: 0;
}
.uc_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.uc_info .nickname {
    margin-left: 3px;
    margin-bottom: 5px;
}
.uc_info .skin_types {
    display: flex;
    gap: 5px;
}
.uc_info .skin_types span {
    border-radius: 10px;
}
.matching_rate.list {
    margin: 0;
    display: inline-flex;
    align-items: baseline;
}
.uc_follow_btn {
    margin-left: 10px;
    background-color: #000;
    border-radius: 25px;
    padding: 7px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;  /* 줄바꿈 방지 */
}
.uc_follow_btn.active {
    background-color: #fff;
    border: 1px solid #aaa;
    color: #000;
}
.right .matching_title {
    text-align: right;
}
.skin_types.follow_list {
    width: clamp(230px, 10vw, 300px);
    justify-content: initial;
    /* 클래스 이름 중복-> 다른 css 무효화 */
    margin-bottom: 0px;
}
