# --- [ 빌드 및 IDE 기본 설정 ] ---
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# DB, API 키 등 민감한 로컬 설정 파일
application-local.properties
application-test.properties

# 로컬 테스트용 업로드 이미지 폴더
test-dir/
/src/main/resources/static/uploads/

# VS Code
.vscode/